* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background: #000;
  color: #FFD600;
  padding-bottom: 80px;
}

header {
  padding: 16px;
  font-size: 22px;
  font-weight: bold;
}

.upload {
  position: fixed;
  bottom: 90px;
  left: 16px;
  right: 16px;
  background: #FFD600;
  color: #000;
  text-align: center;
  padding: 14px;
  border-radius: 20px;
  font-weight: bold;
}

main div {
  margin: 12px;
  padding: 14px;
  background: #111;
  border-radius: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFD600;
  color: #000;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
